<ion-content>
  <!--PRIMEIRO CARD-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Roupas de Verão</ion-card-title>
      <ion-card-subtitle>Aproveite a coleção de verão</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Você já conhece a cooleção de verão das lojas Senac?
    </ion-card-content>
  
    <ion-button fill="clear">Ver coleção</ion-button>
    <ion-button fill="clear">Início</ion-button>
  </ion-card>
  <!--SEGUNDO CARD-->

  <ion-card>
    <ion-card-header>
      <ion-img class="img-kids" src="https://dpj1qgempagj9.cloudfront.net/site/2020/artes-semana-17/infantil/bubbles-v2/bubble-home-infantil-tudo-v2.png"></ion-img>
      <ion-card-title>Roupas Infantis</ion-card-title>
      <ion-card-subtitle>Conheça a nova coleção infatil</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear"[routerLink]="['/infantis']">Ver coleção</ion-button>
    <ion-button fill="clear">Início</ion-button>
    </ion-card>
</ion-content>
